body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1,
p {
  text-align: center;
}

button {
  background-color: #22b4c7;
  color: #fff;
  padding: 14px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color: #7dd5e0;
}
